/* =========================
   NAVBAR
========================= */

.top-navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 55px;
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .35s ease;
  z-index: 999;
}

.top-navbar.sidebar-open {
  left: 255px;
}

.top-navbar.sidebar-close {
  left: 72px;
}

/* =========================
   LEFT
========================= */

.navbar-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu-btn {
  width: 55px;
  height: 55px;
  border: none;
  border-right: 1px solid #e8e8e8;
  background: white;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
  color: #333;
}

.menu-btn:hover {
  background: #f4f4f4;
}

/* =========================
   RIGHT
========================= */

.navbar-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-box {
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  gap: 8px;
  border-left: 1px solid #ececec;
  cursor: pointer;
  transition: .3s;
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

.nav-box:hover {
  background: #f7f7f7;
}

.nav-box svg {
  color: #3b82f6;
  font-size: 15px;
}

.admin-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 18px;
  height: 55px;
  border-left: 1px solid #ececec;
  cursor: pointer;
  transition: .3s;
}

.admin-box:hover {
  background: #f7f7f7;
}

.admin-box svg {
  font-size: 28px;
  color: #7c8ca3;
}

.admin-box span {
  font-weight: 600;
  color: #444;
}

.logout-btn {
  width: 45px;
  height: 55px;
  border: none;
  background: #ff1f1f;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: .3s;
}

.logout-btn:hover {
  background: #d80000;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width:1100px) {

  .nav-box span {
    display: none;
  }

  .nav-box {
    padding: 0 14px;
  }

}

@media (max-width:768px) {

  .top-navbar.sidebar-open,
  .top-navbar.sidebar-close {
    left: 0;
  }

  .admin-box span {
    display: none;
  }

  .nav-box {
    display: none;
  }

}