.error-text{

    color:#e53935;

    font-size:13px;

    margin-top:5px;

    font-weight:600;

}

.error-input{

    border:2px solid #e53935 !important;

    background:#fff7f7;

}

.error-input:focus{

    border-color:#e53935 !important;

    box-shadow:0 0 0 3px rgba(229,57,53,.15);

}